html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: monospace;
  height: 100vh;
  background-color: #f7f8f9;
}

.my-courses-container {
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  background-color: #f7f8f9;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.my-courses-player {
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  background-color: #f7f8f9;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

ul.nav {
  height: 70px;
  align-items: center;
}

li.nav-item {
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0 15px 0;
}

li.nav-item:hover {
  background-color: rgb(170, 221, 170);
  transition: 1s;
}

a.nav-link:hover {
  color: #ffff;
  transition: 1s;
}

img.card-img-top {
  box-sizing: border-box;
  padding: 5px;
  height: 180px;
}

div.card {
  height: 350px;
  box-sizing: border-box;
  margin: 10px;
}
